<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hariharan Shankar Challenge</title>
  </head>
  <body>
    <h1 class="text-left">Welcome to Coding Challenge.</h1>
    <form action="{% url 'search' %}" class="form-inline my-2 my-lg-0" style="align-right" method="GET">
      <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="container">
        {% for x in fruit %}
        {% if forloop.first %}
        <div class="row mx-auto">
            {% endif %}
            <div class="col">
                <div class="card">
                  <img class="card-img-top" src="{{x.image}}" alt="..." style="height:15vw;width:100%">
                  <div class="card-body">
                      <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter-{{x.id}}">
                          More Info
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter-{{x.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">{{x.name}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div class="container" >
                                    <img src="{{x.image}}" style="height:15vw;width:100%" alt="..." >
                                    <p>
                                        Genus: {{x.genus}}<br>
                                        Family: {{x.family}}<br>
                                        Order: {{x.order}}<br>
                                        Carbohydrates: {{x.carbohydrates}}<br>
                                        Protein: {{x.protein}} <br>
                                        Fat: {{x.fat}} <br>
                                        Calories: {{x.calories}} <br>
                                        Sugar: {{x.sugar}}
                                    </p>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 %}
            </div> <div class="row mx-auto mt-4">{% endif %}{% if forloop.last %} </div> {% endif %}
        {% endfor %}
    </div>
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>